<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css" style="display:none;">
</style>
</head>
<body dir="ltr">
<table>
	<tr>
		<td>
			<h2>{{ title }}</h2>
		</td>
	</tr>
	<tr>
		<td>
{% block body %}
{% endblock %}
		</td>
	</tr>
</table>
</body>
</html>
