{% extends 'base.html' %}

{% block body %}
<table>
	<tr>
		<td>Recover link :</td>
	</tr>
	<tr>
		<td style="padding-left:1rem"><a href="{{ link }}">{{ link }}</a></td>
	</tr>
	<tr>
		<td>Code :</td>
	</tr>
	<tr>
		<td style="padding-left:1rem">{{ token }}</td>
	</tr>
</table>
{% endblock %}
