@charset "utf-8";

$scheme-main: #000000;

$black: #ffffff;
$grey-darker: hsl(0, 0%, 93%);
$grey-dark: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 29%);
$grey-lighter: hsl(0, 0%, 21%);
$white-ter: hsl(0, 0%, 14%);
$white-bis: hsl(0, 0%, 7%);
$white: #000000;

$pre-background: $grey-light;
$tag-background-color: $white-ter;

@import "../Bulma/Bulma.scss";
