@charset "utf-8";

$notification-padding: 0.75rem 1.25rem 0.75rem 1.25rem !default;
$code-background: transparent !default;
$footer-padding: 0rem 1.5rem 0rem !default;
$footer-background-color: transparent !default;

@import "../../../node_modules/bulma/sass/utilities/_all";

$tag-background-color: findLightColor($link) !default;
$tag-color: $link !default;

//@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/base/minireset.sass";
@import "../_bulma/sass/base/generic.sass";
@import "../../../node_modules/bulma/sass/base/animations.sass";

//@import "../../../node_modules/bulma/sass/elements/_all";
//@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../_bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
//@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/notification.sass";
//@import "../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/other.sass";

//@import "../../../node_modules/bulma/sass/form/_all";
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";
//@import "../../../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../../../node_modules/bulma/sass/form/select.sass";
@import "../../../node_modules/bulma/sass/form/file.sass";
@import "../../../node_modules/bulma/sass/form/tools.sass";

//@import "../../../node_modules/bulma/sass/components/_all";
//@import "../../../node_modules/bulma/sass/components/breadcrumb.sass";
//@import "../../../node_modules/bulma/sass/components/card.sass";
//@import "../../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/components/media.sass";
//@import "../../../node_modules/bulma/sass/components/menu.sass";
//@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/pagination.sass";
//@import "../../../node_modules/bulma/sass/components/panel.sass";
//@import "../../../node_modules/bulma/sass/components/tabs.sass";

//@import "../../../node_modules/bulma/sass/grid/_all";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
//import "../../../node_modules/bulma/sass/grid/tiles.sass";

//@import "../../../node_modules/bulma/sass/layout/_all";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
//@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/layout/footer.sass";
