@charset "utf-8";

$text-color: false !default;
$background-color: false !default;
$line-number-color: false !default;
$line-number-background-color: false !default;

pre {
  @if $text-color {
    color: $text-color;
  }
}

a.sourceLine {
  display: inline-block;
  line-height: 1.25;
  color: inherit;
  text-decoration: inherit;
  cursor: text;
  &:empty { height: 1.2em; }
}

.sourceCode { overflow: visible; }

code.sourceCode { white-space: pre; position: relative; }

div.sourceCode { margin: 1em 0; }

pre.sourceCode {
  margin: 0;
}

@media screen {
  div.sourceCode { overflow: auto; }
}

@media print {
  code.sourceCode { white-space: pre-wrap; }
  a.sourceLine { text-indent: -1em; padding-left: 1em; }
}

pre.numberSource a.sourceLine {
  position: relative;
  left: -4em;
  &::before {
    content: attr(number);
    position: relative; left: -1em;
    text-align: right;
    vertical-align: baseline;
    border: none;
    display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    @if $line-number-color {
      color: $line-number-color;
    }
  }
}

pre.numberSource {
  margin-left: 3em;
  padding-left: 4px;
  @if $line-number-color {
    border-left: 1px solid $line-number-color;
  }
  @if $line-number-background-color {
    background-color: $line-number-background-color;
  }
}

pre, div.sourceCode, pre.sourceCode {
  @if $background-color {
    background-color: $background-color;
  }
}

@media screen {
  a.sourceLine::before { text-decoration: underline; }
}
