@charset "utf-8";

@font-face {
    font-family: Schoolbell;
    src: url('Weird/Schoolbell-Regular.ttf') format('truetype');
}

$title-family: 'Schoolbell', serif;
$subtitle-family: 'Schoolbell', serif;

$navbar-background-color: hsl(54, 97%, 75%);
$navbar-item-color: hsl(336, 100%, 40%);
$link: hsl(322, 80%, 42%);
$primary: hsl(75, 100%, 47%);
$label-color: hsl(301, 63%, 34%);
$input-color: #000000;

@import "../Bulma/Bulma.scss";
