@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Slabo+13px&display=swap');

$title-family: 'Slabo 13px', serif;
$subtitle-family: 'Slabo 13px', serif;

$white: hsl(0, 0%, 97%);
$body-background-color: hsl(0, 0%, 100%);
$primary: hsl(22, 100%, 50%);
$navbar-background-color: hsl(0, 0%, 94%);
$footer-background-color: hsl(0, 0%, 94%);
$table-background-color: hsl(0, 0%, 100%);
$link: hsl(235, 45%, 50%);

@import "../Bulma/Bulma.scss";
